---
import Cd from "../components/Cd.astro";
import Nav from "../components/Nav.astro";
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="../src/svg/favicon.svg">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Components</h1>
	<h2>for Lauritz.com</h2>

		<Cd
		deluxe={true}
		nyproduceret={true}
		titel="Ægget af Arne Jacobsen"
		beskrivelse="Lounge hvilestol, 'Ægget', med vippeanordning. Betrukket med uld, drejelig midtersøjle med firpas fod af aluminium. Formgivet i 1958-59 som en del af totalindretningen i Hotel Royal København. Fremstillet og stemplet hos Fritz Hansen. Alm. brugsspor."
		varenummer="2345678"
		lokation="Roskilde, Store Hedevej"
		koebnupris="21.500 DKK"
		vurderingspris="25.000 DKK"
		nupris="19.500 DKK"
		tid="03:20:59"
/>

<Nav />


  </body>
</html>
