<div class="button-place-kup"><p>Gør et kup</p></div>

<style>
    div {
        background-color: var(--color-background-body);
        width: fit-content;
        height: fit-content;
        padding-top: var(--spacing-button-kup-padding-height);
        padding-bottom: var(--spacing-button-kup-padding-height);
        padding-left: var(--spacing-button-kup-padding-width);
        padding-right: var(--spacing-button-kup-padding-width);
        border-radius: var(--radius-button-border);
        
    }

    p {
        margin: var(--margin-none);
    }
</style>
