<div class="colorpalette">
    <div><div class="bodycolor"><p>#ffffff</p></div><p>Background color</p></div>
    <div><div class="primary"><p>#161616</p></div><p>Primary</p></div>
    <div><div class="secondary"><p>#2B2B2B</p></div><p>Secondary</p></div>
    <div><div class="accent"><p>#C45241</p></div><p>Accent</p></div>
    <div><div class="textgray"><p>#656565</p></div><p>Text gray</p></div>
    <div><div class="textlightgray"><p>#959595</p></div><p>Text lightgray</p></div>
    <div><div class="textwhite"><p>#ffffff</p></div><p>Text white</p></div>
</div>


<style>
    .colorpalette {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .bodycolor {
        background-color: var(--color-background-body);
        padding: var(--spacing-medium);
        border: 1px solid black;
        width: 110px;
    }

    .primary {
        background-color: var(--color-primary-body);
        color: var(--color-background-body);
        padding: var(--spacing-medium);
        width: 110px;
        
    }

    .secondary {
        background-color: var(--color-secondary);
        color: var(--color-background-body);
        padding: var(--spacing-medium);
        width: 110px;
    }

    .accent {
        background-color: var(--color-accent);
        color: var(--color-background-body);
        padding: var(--spacing-medium);
        width: 110px;
    }

    .textgray {
        background-color: var(--color-text-gray);
        color: var(--color-background-body);
        padding: var(--spacing-medium);
        width: 110px;
    }



    .textlightgray {
        background-color: var(--color-text-lightgray);
      
        padding: var(--spacing-medium);
        width: 110px;
    }

    .textwhite {
        background-color: var(--color-text-white);
        padding: var(--spacing-medium);
        border: 1px solid black;
        width: 110px;
    }


</style>