---
---

<nav>
    <div class="nav1st">
        <ul>
            <a href="#"> <li class="navigation-top-links">Hjælp</li></a>
        </ul>
        <div class="switch">
            <input
                id="language-toggle"
                class="check-toggle check-toggle-round-flat"
                type="checkbox"
            />
            <label for="language-toggle"></label>

            <span class="on navigation-top-links">DK</span>
            <span class="off navigation-top-links">ENG</span>
        </div>
    </div>
    <div class="nav2nd">
        <img src="/svg/LAURITZlogo-white.svg" alt="Logo" />
        <div class="left">
            <form>
                <input
                    class="searchbar"
                    type="search"
                    placeholder="SØG"
                    aria-label="Search"
                />
            </form>
            <div class="user">
                <img src="/svg/user.svg" alt="" />
                <a class="navigation-main-links" href="#">Log ind</a>
            </div>
        </div>
    </div>
    <div class="nav3rd">
        <ul class="navigation-main-links">
            <a href="#"><li>Både og biler</li></a>
            <a href="#"><li>Elektronik</li></a>
            <a href="#"><li>Møbler</li></a>
            <a href="#"><li>Kunst</li></a>
            <a href="#"><li>Smykker</li></a>
            <a href="#"><li>Samlinger</li></a>
            <a href="#"><li>Andet</li></a>
        </ul>
    </div>
</nav>

<style>
    .nav1st {
        background-color: var(--color-secondary);
        display: flex;
        justify-content: end;
        gap: 10px;
        border-bottom: var(--color-background-body) 2px solid;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0px;
        margin: var(--margin-none);
    }

    .switch {
        position: relative;
        display: inline-block;
        margin: 0 5px;
    }

    .switch > span {
        position: absolute;
        top: 6px;
        pointer-events: none;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: var(--font-size-sm);
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        width: 50%;
        text-align: center;
    }

    input.check-toggle-round-flat:checked ~ .off {
        color: var(--color-primary-body);
    }

    input.check-toggle-round-flat:checked ~ .on {
        color: var(--color-primary-body);
    }

    .switch > span.on {
        left: 0;
        padding-left: 2px;
        color: var(--color-primary-body);
    }

    .switch > span.off {
        right: 0;
        padding-right: 4px;
        color: var(--color-primary-body);
    }

    .check-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
    }
    .check-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }

    input.check-toggle-round-flat + label {
        padding: 2px;
        width: 97px;
        height: 34px;
        background-color: var(--color-text-lightgray);
        border-radius: 60px;
    }
    input.check-toggle-round-flat + label:before,
    input.check-toggle-round-flat + label:after {
        display: block;
        position: absolute;
        content: "";
    }

    input.check-toggle-round-flat + label::before {
        top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;
        background-color: var(--color-text-white);

        border-radius: 60px;
    }
    input.check-toggle-round-flat + label::after {
        top: 4px;
        left: 4px;
        bottom: 4px;
        width: 48px;
        background-color: var(--color-text-lightgray);
        border-radius: 52px;
        transition: margin 0.2s;
    }

    input.check-toggle-round-flat:checked + label {
    }

    input.check-toggle-round-flat:checked + label:after {
        margin-left: 44px;
    }
    .nav2nd {
        background-color: var(--color-secondary);
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .left {
        display: flex;
        align-items: center;
    }
    .searchbar {
        width: 300px;
        text-align: right;
        height: 35px;
        border-radius: var(--radius-button-border);
        background-color: var(--color-secondary);
        border: var(--color-text-white) 2px solid;
        color: var(--color-text-white);
    }

    .user {
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .nav3rd {
        background-color: var(--color-secondary);
        margin: var(--margin-none);
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav3rd ul {
        display: flex;
    }

    a {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
        color: var(--color-text-white);
    }
    a:visited {
        text-decoration: none;
        color: var(--color-text-white);
    }

    a:hover {
        text-decoration: none;
        color: var(--color-text-white);
    }

    a:active {
        text-decoration: none;
        color: var(--color-text-white);
    }
</style>
