<div>
    <p class="sm">SM - 11,2 px to 12,8 px</p>
    <p class="base">BASE - 14,08 px to 16 px </p>
    <p class="md">MD - 17,5 px to 20 px</p>
    <p class="lg">LG - 21,88 px to 25 px</p>
    <p class="xl">XL - 27,34 px to 31,25 px</p>
    <p class="xxl">XXL - 34,18 px to 39,06 px</p>
    <p class="xxxl">XXXL - 42,72 px to 48,83 px</p>
    <p class="xxxxl">XXXXL - 64,1 px</p>
</div>


<style>

    div {
        margin-left: 10rem;
    }
    .sm {
        font-size: var(--font-size-sm);
        margin: var(--margin-none);
    }

    .base{
        font-size: var(--font-size-base);
        margin: var(--margin-none);
    }

    .md{
        font-size: var(--font-size-md);
        margin: var(--margin-none);
    }
    .lg{
        font-size: var(--font-size-lg);
        margin: var(--margin-none);
    }

    .xl{
        font-size: var(--font-size-xl);
        margin: var(--margin-none);
    }

    .xxl{
        font-size: var(--font-size-xxl);
        margin: var(--margin-none);
    }

    .xxxl{
        font-size: var(--font-size-xxxl);
        margin: var(--margin-none);
    }
    .xxxxl{
        font-size: var(--font-size-xxxxl);
        margin: var(--margin-none);
    }
</style>